---
version: "3.4"

services:
  # go development environment to build and run unit tests in
  horizon:
    build:
      context: ${HOST_MOUNT_POINT}
      dockerfile: ${HOST_MOUNT_POINT}/support/images/horizon/Dockerfile
      target: base
    image: kinecosystem/horizon-base:latest
    environment:
      MYSQL_HOST: 127.0.0.1
    volumes:
      - ${HOST_MOUNT_POINT}:/go/src/github.com/kinecosystem/go
      - .:/var/run/postgresql
    network_mode: host

  postgresql:
    image: postgres:10-alpine
    network_mode: host
    environment:
      POSTGRES_USER: root
    volumes:
      - .:/var/run/postgresql/

  mysql:
    image: mysql:5
    network_mode: host
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

  redis:
    image: redis:5
    network_mode: host
